@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    padding: 20px;
    background: lab(62.96% 4.68 -46.03);
    font: normal 15pt Arial;
    text-align: center;
}

h1#siti{
    font-family: "Bungee Spice", sans-serif;
    font-size: 27px;
}

section {                        /* -> Tipo um container */
    background: #edd5b8a8;    /* -> Cor de fundo */
    border-radius: 10px;       /* -> Bordas arredondadas */
    min-width: 285px;         /* -> Largura da caixa */
    max-width: 500px;
    padding: 15px;               /* -> Espaçamento em todas as direções */
    margin: auto;             /* -> Centralizar a section (caixa) */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.381);
}

h1#vid{
    font-family: "Bungee Spice", sans-serif;
    font-size: 27px; 
}

#caixa{
    background-color: blue;
    min-width: 285px;         /* -> Largura da caixa */
    max-width: 500px;
}

#conteudo{

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

