@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    padding: 10px;
    background: lab(62.96% 4.68 -46.03);
    font: normal 15pt Arial;
    text-align: center;

}


h1#siti{
    font-family: "Bungee Spice", sans-serif;
    font-size: 27px;
}

#principal{
    padding-bottom: 10px;
    text-align: center;
}

#aud{
    height: 33px;
    width: 259px;
    display: block;
    margin: auto;
}

section {                        /* -> Tipo um container */
    background: #edd5b8a8;    /* -> Cor de fundo */
    border-radius: 10px;       /* -> Bordas arredondadas */
    min-width: 320px;         /* -> Largura da caixa */
    max-width: 500px;
    padding: 10px;               /* -> Espaçamento em todas as direções */
    margin: auto;             /* -> Centralizar a section (caixa) */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.381);
}

h1#vid{
    font-family: "Bungee Spice", sans-serif;
    font-size: 27px; 
}

#caixa{
    position: relative;
    height: 315px;
    width: 315px;
    padding: 5px;
    margin: auto;
}

iframe{
    aspect-ratio: 16 / 9;
}

#conteudo{
    position: absolute;
    max-width: 250px;
    aspect-ratio: 16 /9;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

